body {
    margin: 0;
    padding: 0;
    background-color: aqua;
    text-align: center;
}
p {
    font-size: 48px;
    font-family: 'Courier New', Courier, monospace;
    padding: 20px 230px;
    height: fit-content;
    margin: auto;
}
span{
    color: brown;
    font-style: inherit;
    font-family: sans-serif;
}